{% load static %}
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    
    <div class="row">
        {% for Feature in Feature_product %}
        <div class="col-4">           
            <a href="{% url 'item' Feature.id %}"><img src="{{ Feature.image.url }}"></a>
            <h4>{{ Feature.title }}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>{{ Feature.price }}</p>
        </div>
        {% endfor %}
    </div>
    
    <h2 class="title">Latest Products</h2>
    <div class="row">
        {% for Leatest in Leatest_product %}
        <div class="col-4">
            <a href="{% url 'item' Leatest.id %}"><img src="{{ Leatest.image.url }}"></a>
            <h4>{{ Leatest.title }}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>{{ Leatest.price }}</p>
        </div>
        {% endfor %}
    </div>
</di>
